<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict/>
	<key>CompileFolder</key>
	<string>/Users/marc_nickl/Desktop</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>274A2551-9645-46D2-8C3D-80D1CEC94D7A</key>
		<dict>
			<key>BinderUUID</key>
			<string>274A2551-9645-46D2-8C3D-80D1CEC94D7A</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>602 372 475 528 0 0 1680 1025 </string>
		</dict>
		<key>8E30FCF9-6BCF-43DD-82AA-A04CD8F84B92</key>
		<dict>
			<key>BinderUUID</key>
			<string>8E30FCF9-6BCF-43DD-82AA-A04CD8F84B92</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>602 372 475 528 0 0 1680 1025 </string>
		</dict>
	</dict>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>4</integer>
		<key>Title</key>
		<string>Essay (Chicago Style)</string>
	</dict>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {238, 964}}</string>
		<string>{{239, 0}, {1434, 964}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>5E4E631C-ECC6-4F62-999D-22543F6F8B43</string>
		<string>06B74939-7ACE-47C8-B5EA-838F086E52E6</string>
		<string>895B86FD-B3BC-451F-B4F9-4DC46B7C45B9</string>
	</array>
	<key>binderWidth</key>
	<real>238</real>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>04E228F3-9C30-448D-A59A-8BD750DE835F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>06B74939-7ACE-47C8-B5EA-838F086E52E6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>13581890-B812-40B8-B16C-AAEC5DEF429C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>24821DCE-8C25-459B-B894-C1489F222C7B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>274A2551-9645-46D2-8C3D-80D1CEC94D7A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2A65BD5C-6F7C-4879-BB20-C431ED028B2E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>36F1479F-D769-45B2-BDAE-7AA1C1A0160C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3C9D7AC3-FAE0-4D86-84F2-648279AF298F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>54DA639B-99B8-461A-B418-E1F374F3B4BD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5D49D674-E116-4B7A-AB75-D381654DF253</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>652A6F32-B077-4981-BA92-1F41B6768EBC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F7412E7-00A2-43BB-920A-617F564442B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8582D8DC-1BFF-466D-9679-7428ED64E66E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8E30FCF9-6BCF-43DD-82AA-A04CD8F84B92</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8E7FFCC7-E139-41FC-9D3F-B8A3B7247B15</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1DC97D1-F09D-4293-A305-2F8199246A6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B4079D20-CA0A-4755-9AE6-115B9DECD6B2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C949A808-71DC-44D7-B0B1-0BB7A1CC34C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D0F2D559-9251-486E-80BA-DC7375C8F07D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E14D2E77-2F93-45A5-B464-E2EAF01E542B</key>
		<dict>
			<key>DocID</key>
			<string>274A2551-9645-46D2-8C3D-80D1CEC94D7A</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>F16885EA-BB76-4753-A9A4-533FC9432940</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array/>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {238, 115}}</string>
		<string>{{0, 116}, {238, 822}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<false/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{717, 0}, {717, 934}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>3</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorGeneralPaneIsCollapsed</key>
	<false/>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {336, 954}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.PDFScale</key>
	<real>2.1311080455780029</real>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>04E228F3-9C30-448D-A59A-8BD750DE835F</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>title</key>
		<real>589</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 33 1673 992 0 0 1680 1025 </string>
	<key>previousDocumentTargetType</key>
	<integer>0</integer>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>title</key>
		<real>589</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 878}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
